rubik_solver/heuristic_databases/raw_databases/corners.db filter=lfs diff=lfs merge=lfs -text
rubik_solver/heuristic_databases/raw_databases/edge_permutations.db filter=lfs diff=lfs merge=lfs -text
*.db filter=lfs diff=lfs merge=lfs -text
